body {
    background-color: black;
}

body * {
    padding: 8px;
    border-radius: 8px;
    background-color: #d040e0;
}

body header {
    display: block;
    margin: 0 auto;
    text-align: center;
}

body header h1 {
    font-family: Helvetica;
    font-weight: bold;
}

body header p {
    font-family: Helvetica;
    font-weight: bold;
}