<% title = 'Tarefas' %>
<!doctype html>
<html lang="pt-BR">
  <head>
    <% include ./components/head %>
  </head>
  <body>
    <% include ./components/header %>
    <div class="container-fluid">

    </div>
    <% include ./components/footer %>
  </body>
</html>