<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Atarefado</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <!-- <% if (title == 'Tarefas') { %>
        <li class="nav-item active">
        <% } else { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="#">Tarefas Ativas
            <% if (title == 'Tarefas') { %>
            <span class="sr-only"> (current)</span>
            <% } %>
          </a>
        </li> -->
        <!-- <% if (title == 'Todas') { %>
        <li class="nav-item active">
        <% } else { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="#">Todas Tarefas
              <% if (title == 'Todas') { %>
              <span class="sr-only"> (current)</span>
              <% } %></a></a>
        </li> -->
      </ul>

      <span class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= userData.nome || 'ERROR: No username' %>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="#">Meu Perfil</a>
          <a class="dropdown-item" href="/logout">Sair</a>
        </div>
      </span>
    </div>
  </nav>
</div>